<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.paolo.listaspesa">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To determine user’s location using WiFi and mobile cell data -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To determine user’s location using GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">

        <!-- The splash activity. -->
        <!-- It's the first activity loaded. -->
        <activity
            android:name=".view.init.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The welcome activity. -->
        <activity
            android:name=".view.init.WelcomeActivity"
            android:screenOrientation="portrait"/>

        <!-- The login activity. -->
        <activity
            android:name=".view.auth.LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- The register activity. -->
        <activity
            android:name=".view.auth.RegisterActivity"
            android:screenOrientation="portrait"/>

        <!-- The edit group activity. -->
        <activity
            android:name=".view.home.group.EditGroupActivity"
            android:screenOrientation="portrait"/>

        <!-- The home activity. -->
        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.home.template.EditTemplateActivity" />
        <activity android:name=".view.home.template.AddProductsActivity" />
        <activity android:name=".view.home.shoppingList.SupermarketMapActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAXPTQ4YGGtXUK3DEAwWKEypxOIafzocHA" />

        <activity
            android:name=".view.home.group.InsertProductsActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>